.button__nav {
  outline: 0;
  border: 0;
  color: white;
  padding: 8px 10px;
  transition: all 0.6s ease-in-out;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0 10px;
}
.button__nav:hover {
  opacity: 0.9;
}

@media (max-width: 500px) {
  .button__nav {
    font-size: 10px;
    padding: 4px 8px;
  }
}
