.row > h3 {
  margin-top: 30px;
}

.row__movies {
  width: 100%;
  margin: 0 auto;
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
}

/* For hiding scrollbar */
.row__movies::-webkit-scrollbar {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  /* overflow-y: scroll; */
}

.row__movies::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.row__movie {
  max-height: 100px;
  object-fit: contain;
  margin-top: 10px;
  width: 100%;
  transition: transform 450ms;
}

.row__movie:hover {
  transform: scale(1.08);
  z-index: 1;
}

.row__movieLarge {
  max-height: 250px;
}
