* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #181818;
  font-size: 16px;
  width: 100%;
  color: white;
}

.container {
  width: 95%;
  margin: 0 auto;
}
